---
layout: page
title: Documents
permalink: /docs/
---

<div class="documents">

  <h3>
    <a class="page-link" href="/reference"> Nimf reference manual </a>
  </h3>

  {%- if site.docs.size > 0 -%}
    {%- assign sorted_docs = site.docs | reverse -%}
    {%- for page in sorted_docs -%}
      <h3>
        <a class="page-link" href="{{ page.url | relative_url }}">
          {{ page.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ page.excerpt }}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

</div>
