---
layout: default
title: News
---

{% if paginator.total_posts > 0 %}
  {% for post in paginator.posts %}
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<p>
<span class="date">{{ post.date | date: "%a, %-d %b %Y %R" }}</span>
</p>
<div>
{{ post.excerpt }}
{% if post.excerpt != post.content %}
<p style="font-family: 'Noto Serif', serif"><a href="{{ post.url | relative_url }}"><i>Read more...</i></a></p>
{% endif %}
</div>
  {% endfor %}
{% else %}
<div class="content" style="text-align: center">
There is no news yet.
</div>
{% endif %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
