<footer>
<div class="container">
<table style="width: 100%">
<tr>
<td>
<a href="https://www.gnome.org/friends/"><img style="max-width: none; vertical-align: middle" src="https://static.gnome.org/friends/banners/friends-of-gnome.png" alt="Become a Friend of GNOME" border="0" /></a>
</td>
<td style="text-align: right"><span style="color: gray; font-family: 'Noto Serif', serif"><i>Theme by Lily</i></span>
</td>
</tr>
</table>
</div>
</footer>
