
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style.css">
{%- if page.title -%}
<title>{{ site.title }} - {{ page.title }}</title>
{%- else -%}
<title>{{ site.title }}</title>
{%- endif -%}
{%- if site.google-analytics -%}
  {%- include google-analytics.html -%}
{%- endif -%}
{%- if site.google-adsense -%}
  {%- include google-adsense.html -%}
{%- endif -%}
</head>
