<header>
<nav class="container">
  <table style="width: 100%">
    <tr>
      {% if site.logo %}
      <td>
      <a href="/"><img style="max-width: none; vertical-align: middle" src="{{ site.logo | relative_url }}" alt="logo"></a>
      {% else %}
      <td style="vertical-align: top">
      <a href="/">{{ site.title }}</a>
      {% endif %}
      </td>
      <td style="text-align: right">
      {% for link in site.nav %}
      &nbsp;&nbsp;&nbsp;<a href="{{ link.url | relative_url }}">{{ link.title }}</a>
      {% endfor %}
      </td>
    </tr>
  </table>
</nav>
</header>
